body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2535;
}

/* * {
  border: 1px solid pink;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  font-size: 4em;
  text-align: left;
  margin: 0;
  width: 50%;
}

p {
  color: white;
  text-align: left;
  margin-bottom: 30px;
  width: 30%;
}

button {
  background-color: white;
  color: black;
  font-weight: bolder;
  padding: 15px;
  border-radius: 5px;
  width: 10%;
}

.App {
  display: flex;
  flex-direction: column;
}

.section1 {
  margin-left: 50px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 40px;
}

.menu {
  width: 25px;
  height: 15px;
  display: flex;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 130px 0;
}
